@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.main-header {

        background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Dosis', sans-serif;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
}


.main-nav {
    
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: fixed;
    width: 100%;
    z-index: 5;
}

.logo {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 20px 40px;
    font-size:1.3rem;
    color: #fff;
}

ul {
    
    display: flex;
    margin-left: auto;
    margin-right: 100px;
}

ul li a {
    display:inline-block;
    padding: 20px 20px;
    font-size:1.3rem;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0);
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out,
                color 0.2s ease-out;
}

ul li a:hover,
ul li a:active {
background: #4141ef;
    background-color: rgba(255, 255, 255, 0.13);
    color: #fff;
    transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
}

.content-header {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.content-header h1 {
    font-size: 7rem;

}

.content-header p {
    font-size: 1.5rem;
    margin: 15px 30px;
}

.content-header a {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out,
                color 0.2s ease-out;
}

.content-header a:hover,
.content-header:active  {
    background-color: rgba(255, 255, 255, 0.13);
    color: #fff;
    transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
}


  
