@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

/* --> Valores iniciales <--*/
:root{
    --main-color:#8e44ad;
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
 }

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}
/* --> Terminan Valores iniciales <--*/


/* --> Empieza scroll bar <-- */
html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
    background-color: lightgreen;
}
/* -->  Termina scroll bar <-- */


/* --> Menú de navegacion Inicio,Desti... <-- */
.main-nav {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.7));
    position: fixed;
    width: 100%;
    z-index: 5;
}

.logo {
    /*Logo*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 20px 40px;
    font-size: 1.3rem;
    color: #fff;
}

ul {
    /*Lista de botones */
    display: flex;
    margin-left: auto;
    margin-right: 100px;
}

ul li a {
    display: inline-block;
    padding: 20px 20px;
    font-size: 1.3rem;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0);
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out,
        color 0.2s ease-out;
}

ul li a:hover,
ul li a:active {
    background: #4141ef;
    background-color: rgba(0, 0, 0, 0.13);
    color: #fff;
    transition: background-color 0.3s ease-in,
        color 0.3s ease-in;
}

/* --> Termina Menú de navegacion Inicio,Desti... <-- */


/* --> Empieza el heading <-- */
.packages {
    padding: 5rem 10%;
}

@keyframes fadeIn {
    0%{
       transform: scale(0);
       opacity: 0;
    }
 }

.heading {
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1 {
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--text-shadow);
}

.btn{
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color:var(--white);
    font-size: 1.7rem;
    padding:1rem 3rem;
    cursor: pointer;
 }


 .btn:hover{
    background: var(--main-color);
 }

.heading-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}

.packages .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.packages .box-container .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
    display: none;
}

.packages .box-container .box:nth-child(1),
.packages .box-container .box:nth-child(2),
.packages .box-container .box:nth-child(3),
.packages .box-container .box:nth-child(4),
.packages .box-container .box:nth-child(5),
.packages .box-container .box:nth-child(6) {
    display: inline-block;
}

.packages .box-container .box:hover .image img {
    transform: scale(1.1);
}

.packages .box-container .box .image {
    height: 25rem;
    overflow: hidden;
}

.packages .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.packages .box-container .box .content {
    padding: 2rem;
    text-align: center;
}

.packages .box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.packages .box-container .box .content p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.packages .load-more {
    text-align: center;
    margin-top: 2rem;
}


/* --> Termina el heading <-- */

/* --> Empieza el Container 2 <-- */
.container2 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../Imagenes/lapa\ roja\ edit.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;

}

.container2 .card {
    width: 530px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: rgba(0, 0, 0, 0.473);
}

.container2 .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container2 .card img {
    width: 530px;
    height: 270px;
    margin-bottom: 10px;
}

.container2 .card h4 {
    font-weight: 600;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.container2 .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.03em;
}

.container2 .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
    padding: 1000px 1000px;
}
/* --> Termina el Container2 <-- */


/* --> Empieza el Inspírate <-- */
.inspirate {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    color: var(--main-color);
}

.inspirate .inspiratetxt h2 {
    font-family: "DM Serif Text", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 52px;
    text-align: center;
}

.inspirate .inspiratetxt p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
}
/* --> Termina el Inspírate <-- */


.container2 .card .p {
    font-weight: bold;
}
/*Encabezado logo, destinos, inicio,etc
.tarjetas { 
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)),
        url("../Imagenes/Monteverde.jpg");
        background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Dosis', sans-serif;
    position: relative;
    overflow: hidden;
}*/

.tarjetas { 
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)),
        url("../Imagenes/Monteverde.jpg");
        background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    position: relative;
    overflow: hidden;
}

/* Tarjetas (Parte central) */
.content-tarjet {
    color: var(--white);
    position: relative;
    padding-top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content-tarjet h1 {
    /*Destinos*/
    font-size: 34px;
    height: 400;
    text-align: center;
}

.content-tarjet a:hover,
.content-tarjet:active {
    background-color: rgba(255, 255, 255, 0.13);
    color: #fff;
    transition: background-color 0.3s ease-in,
        color 0.3s ease-in;
}

/*Container 1*/
.container {
    width: 100%;
    max-width: 1200px;
    height: 110%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.container .card {
    width: 330px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: rgba(0, 0, 0, 0.473);
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img {
    width: 330px;
    height: 220px;
    margin-bottom: 10px;
}

.container .card h4 {
    font-weight: 600;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;

}

.container .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.03em;
    font-weight: bold;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
    padding: 1000px 1000px;
}


/*:::::Pie de Pagina*/
.pie-pagina {
    width: 100%;
    background-color: #000000f3;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 25px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* Alinear horizontal */
    align-items: center;
    /* Alinear vertical */
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
    /* Tamaño de la imagen */
}

.pie-pagina .grupo-1 .box h2 {
    /* Sobre nosotros */
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    /* Párrafo */
    color: #efefef;
}

.pie-pagina .grupo-1 .red-social a {
    /* Iconos de links */
    display: inline-block;
    text-decoration: none;
    width: 45px;
    /* ancho */
    height: 45px;
    /* alto */
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    /* Separacion entre iconos */
    background-color: #00000079;
    /* Fondo del icono */
    text-align: center;
    transition: all 300ms ease;
    /*transicion para el hover*/
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: rgb(0, 119, 255);
}

.pie-pagina .grupo-2 {
    /*Área de Derechos Reservados*/
    background-color: #000000;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    /*Texto de DerRer*/
    font-size: 15px;
}

@media screen and (max-width:800px) {

    /*Hacerlo Respoonsive*/
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}