@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

/* --> Valores iniciales <--*/
:root {
    --main-color: #8e44ad;
    --black: #222;
    --white: #fff;
    --light-black: #777;
    --light-white: #fff9;
    --dark-bg: rgba(0, 0, 0, .7);
    --light-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .3);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* --> Terminan Valores iniciales <--*/


/* --> Empieza scroll bar <-- */
html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/* -->  Termina scroll bar <-- */


/* --> Menú de navegacion Inicio,Desti... <-- */
.main-nav {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.7));
    position: fixed;
    width: 100%;
    z-index: 5;
}

.logo {
    /*Logo*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 20px 40px;
    font-size: 2rem;
    color: #fff;
}

ul {
    /*Lista de botones */
    display: flex;
    margin-left: auto;
    margin-right: 100px;
}

ul li a {
    display: inline-block;
    padding: 20px 20px;
    font-size: 2rem;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0);
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out,
        color 0.2s ease-out;
}

ul li a:hover,
ul li a:active {
    background: #4141ef;
    background-color: rgba(0, 0, 0, 0.13);
    color: #fff;
    transition: background-color 0.3s ease-in,
        color 0.3s ease-in;
}

/* --> Termina Menú de navegacion Inicio,Desti... <-- */


/* --> Empieza el heading <-- */

.heading {
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1 {
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--text-shadow);
}

.btn {
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;
}


.btn:hover {
    background: var(--main-color);
}

.titulo-encabezado {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}

.paquetes {
    padding: 5rem 10%;
}

.paquetes .container-lugares {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.paquetes .container-lugares .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
    display: none;
}

.paquetes .container-lugares .box:nth-child(1),
.paquetes .container-lugares .box:nth-child(2),
.paquetes .container-lugares .box:nth-child(3),
.paquetes .container-lugares .box:nth-child(4),
.paquetes .container-lugares .box:nth-child(5),
.paquetes .container-lugares .box:nth-child(6) {
    display: inline-block;
}

.paquetes .container-lugares .box:hover .image img {
    transform: scale(1.1);
}

.paquetes .container-lugares .box .image {
    height: 25rem;
    overflow: hidden;
}

.paquetes .container-lugares .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.paquetes .container-lugares .box .content {
    padding: 2rem;
    text-align: center;
}

.paquetes .container-lugares .box .content h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.paquetes .container-lugares .box .content p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.paquetes .cargar-mas {
    text-align: center;
    margin-top: 2rem;
}

/* --> Terminan los destinos <-- */

/* --> Empieza el ContainerCR <-- */
.containerCR {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../Imagenes/lapa\ roja\ edit.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;

}

.containerCR .card {
    width: 530px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: rgba(0, 0, 0, 0.473);
}

.containerCR .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.containerCR .card img {
    width: 530px;
    height: 270px;
    margin-bottom: 10px;
}

.containerCR .card h4 {
    font-weight: 600;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.containerCR .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.03em;
}

/* --> Termina el ContainerCR <-- */


/* --> Empieza el Inspírate <-- */
.inspirate {
    padding-top: 75px;
    padding-bottom: 75px;
    color: var(--main-color);
    background: #fff;
    text-align: justify;
}

.inspirate-img {
    float: left;
    margin-left: 100px;
    margin-right: 100px;
}

.inspirate-textos {
    padding: 10px 10px;
    font-family: "DM Serif Text", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 52px;
    text-align: left;
}

.inspirate-textos p {
    color: #000000;
    padding: 10px 10px;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
}

.inspirate-img3 {
    float: right;
    margin-left: 100px;
    margin-right: 100px;
}

/* --> Termina el Inspírate <-- */


/* --> Empiezan las tarjetas Centrales <-- */
.tarjetasCentrales {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../Imagenes/fondoCentrales.jpg");
    background-color: #3498db;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    position: relative;
    overflow: hidden;
}

.content-tarjetCentrales {
    color: var(--white);
    position: relative;
    padding-top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content-tarjetCentrales h1 {
    /*Provincias*/
    font-size: 34px;
    height: 10px;
    text-align: center;
}

.containerCentrales {
    width: 100%;
    max-width: 1200px;
    height: 110%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
}

.containerCentrales .card {
    width: 250px;
    height: 415px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: rgba(0, 0, 0, 0.473);
}

.containerCentrales .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.containerCentrales .card img {
    width: 330px;
    height: 320px;
    margin-bottom: 10px;
}

.containerCentrales .card h4 {
    font-weight: 600;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.containerCentrales .card a {
    padding: 0rem 1rem;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.03em;
    font-weight: bold;
    margin-top: 500px;
}

/* --> Terminan las tarjetas centrales <-- */

/* --> Empiezan las tarjetas costeras <-- */
.tarjetasCosteras {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../Imagenes/fondoCosteras.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    position: relative;
    overflow: hidden;
}

.content-tarjetCosteras {
    color: var(--white);
    position: relative;
    padding-top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content-tarjetCosteras h1 {
    /*Provincias*/
    font-size: 34px;
    height: 10px;
    text-align: center;
}

.containerCosteras {
    width: 100%;
    max-width: 1200px;
    height: 110%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
}

.containerCosteras .card {
    width: 250px;
    height: 315px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: rgba(0, 0, 0, 0.473);
}

.containerCosteras .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.containerCosteras .card img {
    width: 330px;
    height: 220px;
    margin-bottom: 10px;
}

.containerCosteras .card h4 {
    font-weight: 600;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 30px;

}

.containerCosteras .card a {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.03em;
    font-weight: bold;
    margin-top: 500px;
}

/* --> Terminan las tarjetas costeras <-- */


/*:::::Pie de Pagina*/
.pie-pagina {
    width: 100%;
    background-color: #000000f3;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 25px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* Alinear horizontal */
    align-items: center;
    /* Alinear vertical */
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
    /* Tamaño de la imagen */
}

.pie-pagina .grupo-1 .box h2 {
    /* Sobre nosotros */
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    /* Párrafo */
    color: #efefef;
}

.pie-pagina .grupo-1 .red-social a {
    /* Iconos de links */
    display: inline-block;
    text-decoration: none;
    width: 45px;
    /* ancho */
    height: 45px;
    /* alto */
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    /* Separacion entre iconos */
    background-color: #00000079;
    /* Fondo del icono */
    text-align: center;
    transition: all 300ms ease;
    /*transicion para el hover*/
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: rgb(0, 119, 255);
}

.pie-pagina .grupo-2 {
    /*Área de Derechos Reservados*/
    background-color: #000000;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    /*Texto de DerRer*/
    font-size: 15px;
}

@media screen and (max-width:800px) {

    /*Hacerlo Respoonsive*/
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}