@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
}
.main-nav {
    
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: fixed;
    width: 100%;
    z-index: 5;
}

.logo {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 20px 40px;
    font-size:1.3rem;
    color: #fff;
}

ul {
    
    display: flex;
    margin-left: auto;
    margin-right: 100px;
}

ul li a {
    display:inline-block;
    padding: 20px 20px;
    font-size:1.3rem;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0);
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out,
                color 0.2s ease-out;
}

ul li a:hover,
ul li a:active {
background: #4141ef;
    background-color: rgba(255, 255, 255, 0.13);
    color: #fff;
    transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
               
}
body{
	height: auto;
	width: 100%;
    
}

.container{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("../Imagenes/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("../Imagenes/bg.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

.contact-box h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.contact-box h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.form_cta, .btnMostrar{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}


.form_cta:hover, .btnMostrar:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

.resultado{
    width: 300px;
    height: 100px;
	border-radius: 10px;
	background-color: lightgreen;
	padding: 10px;
    margin-left: 50px;
	font-size: 1.1rem;
    text-align: center;
}


@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

/*:::::Pie de Pagina*/
.pie-pagina {
    width: 100%;
    background-color: #000000f3;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 25px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* Alinear horizontal */
    align-items: center;
    /* Alinear vertical */
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
    /* Tamaño de la imagen */
}

.pie-pagina .grupo-1 .box h2 {
    /* Sobre nosotros */
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    /* Párrafo */
    color: #efefef;
}

.pie-pagina .grupo-1 .red-social a {
    /* Iconos de links */
    display: inline-block;
    text-decoration: none;
    width: 45px;
    /* ancho */
    height: 45px;
    /* alto */
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    /* Separacion entre iconos */
    background-color: #00000079;
    /* Fondo del icono */
    text-align: center;
    transition: all 300ms ease;
    
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: rgb(0, 119, 255);
}

.pie-pagina .grupo-2 {
    
    background-color: #000000;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    
    font-size: 15px;
}

@media screen and (max-width:800px) {

   
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}